{% extends "index.html" %}

{% block content %}
<h3 class="text-center mt-3">Food Entry from {{ date }}</h3>
<div class="container-lg mx-auto d-flex col justify-content-center mt-3">
    <form method="post">
        <div class="row">
            <label for="calories">Calories</label>
            <input class="form-control" type="number" name="calories" id="calories" min="0" value="{{ foodResult['total_calories'] }}" placeholder="{{ foodResult['total_calories'] }}" required>
        </div>

        <div class="row">
            <label for="carbs">Carbs (g)</label>
            <input class="form-control" type="number" name="carbs" id="carbs" min="0" value="{{ foodResult['total_carbs'] }}" placeholder="{{ foodResult['total_carbs'] }}" required>
        </div>

        <div class="row">
            <label for="fat">Fat (g)</label>
            <input class="form-control" type="number" name="fat" id="fat" min="0" value="{{ foodResult['total_fat'] }}" placeholder="{{ foodResult['total_fat'] }}" required>
        </div>

        <div class="row">
            <label for="protein">Protein (g)</label>
            <input class="form-control" type="number" name="protein" id="protein" min="0" value="{{ foodResult['total_protein'] }}" placeholder="{{ foodResult['total_protein'] }}" required>
        </div>

        <div class="row">
            <label for="weight">Weight (lbs)</label>
            <input class="form-control" type="number" name="weight" id="weight" min="0" value="{{ foodResult['weight'] }}" required>
        </div>

        <div class="row mt-4">
            <div class="form-group col text-center">
                <input type="submit" value="UPDATE" name="btnAction" class="btn btn-primary">
            </div>
            <div class="form-group col text-center">
                <input type="submit" value="DELETE" name="btnAction" class="btn btn-danger">
            </div>
        </div>
    </form>
</div>

{% endblock %}