{% extends "index.html" %}


{% block content %}
<style>
table {
	display: table;
}
table tr {
	display: table-cell;
}
table tr td {
	display: block;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

</style>


<div class="container-lg">
    <h3 class="text-center m-3"> Here's a summary of your entries from the past 7 days: </h3>

    <div class="row d-flex justify-content-center text-center w-100">
        <div class="col">

            <div class="card">
                <h5 class="card-header">Mood</h5>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                    <ul>

                        {% for entry in emotionResult %}

                        <p><a href="#" class="bg-light">{{entry['entry_date']}}</a></p>

                        {% if entry['mood'] == 0 %}
                         <b>Feeling: </b>   &#128577; 
                        {% endif %}
                        {% if entry['mood'] == 1  %}
                        <b>Feeling: </b>     &#128528;
                        {% endif %}
                        {% if entry['mood'] ==  2 %}
                        <b>Feeling: </b>    &#128526;
                        {% endif %}
                        <hr/>

                        {% endfor %}
                        
                        </ul>
                  </p>

                </div>
              </div>           
            
        </div>

        <div class="col">

            <div class="card">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                    {% for entry in foodResult %}
                    <dl class="row">

                    <p class="bg-light"><a href="/food_update/{{entry['entry_date']}}">{{entry['entry_date']}}</a></p>
                    <dt class="col-sm-6">Calories: </dt>  
                    <dd class="col-sm-4">{{entry['total_calories']}} cal</dd>
                    <dt class="col-sm-6">Fat: </dt>  
                    <dd class="col-sm-4">{{entry['total_fat']}} g</dd>
                    <dt class="col-sm-6">Carbs: </dt>  
                    <dd class="col-sm-4"> {{entry['total_carbs']}} g</dd>
                    <dt class="col-sm-6">Protein: </dt>  
                    <dd class="col-sm-4"> {{entry['total_protein']}} g</dd>
                    <hr/>
                    </dl>
                    {% endfor %}
                    </ul>
              </p>

                </div>
              </div>           
            
        </div>
        <div class="col">

            <div class="card">
                <h5 class="card-header">Exercise</h5>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                    {% for entry in exerciseResult %}
                    <dl class="row">

                    <p class="bg-light">{{entry['entry_date']}}</p>
                    <dt class="col-sm-6">Duration: </dt>  
                    <dd class="col-sm-6">{{entry['duration']}} minutes</dd>
                    <dt class="col-sm-6">Intensity: </dt>  
                    <dd class="col-sm-4">{{entry['intensity']}}</dd>
                    <dt class="col-sm-6">Type: </dt>  
                    <dd class="col-sm-4"> {{entry['type']}}</dd>
                    <hr/>
                    </dl>
                    {% endfor %}
                    </ul>
              </p>
                </div>
              </div>           
            
        </div>

        <div class="col">

            <div class="card">
                <h5 class="card-header">Sleep</h5>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                    {% for entry in sleepResult %}
                     
                    <p class="bg-light">{{entry['entry_date']}}</p>


                    <dl class="row">

                    <dt class="col-sm-6">Sleep Duration: </dt>  
                    <dd class="col-sm-4">{{entry['duration']}} hours</dd>
                    </dl>
                    <hr/>

                    {% endfor %}
              </p>

                </div>
              </div>           
            
        </div>

    </div>
</div>
{% endblock %}