{% extends "index.html" %}

{% block content %}

<script src="script.js"></script>
  <h1 class="text-center mt-3">Sign Up</h1>
<div class="container-lg mx-auto mt-4 w-50">
    <form method="post">
        <div class="row mt-3">
            <label for="first_name">First Name</label>
            <input class="form-control" type="text" name="first_name" id="first_name" required></input>
        </div>

        <div class="row mt-3">
            <label for="last_name">Last Name</label>
            <input class="form-control" type="text" name="last_name" id="last_name" required></input>
        </div>

        <div class="row mt-3">
            <label for="height">Height (inches)</label>
            <input class="form-control" type="number" name="height" id="height" required></input>
        </div>

        <div class="row mt-3">
            <label for="date_of_birth">Date of Birth</label>
            <div id="datefield">
                <script>
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; 
                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                    dd = '0' + dd;
                    }
                    if (mm < 10) {
                    mm = '0' + mm;
                    } 
                    today = yyyy + '-' + mm + '-' + dd;
                    document.getElementById("datefield").setAttribute("max", today);
                </script>
            </div>
            <input class="form-control" type="date" name="date_of_birth" id="datefield" min="1901-01-01" max="3000-01-01" onfocus= "this.max=new Date().toISOString().split('T')[0]" required ></input>

        </div>

        <div class="row mt-3">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="email" required></input>
        </div>

        <div class="row mt-3">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required></input>
        </div>

        <div class="row mt-4">
            <div class="form-group col text-center">
                <input type="submit" value="SIGN UP" name="btnAction" class="btn btn-primary" title="submit entry" >
            </div>
        </div>

        <div class="row mt-4">
            <div class="form-group col text-center">
                <a href="{{ url_for('login') }}">Go back to login</a>
            </div>
        </div>
    </form>
</div>



{% endblock %}